#map {
    /* the width and height may be set to any size */
    width: 100%;
    height: 550px;
    margin: auto;
    flex: 1;
    border: #03a9f4 solid 10px;
}
/*#calendar{*/
/*    width: 100%;*/
/*    height: 400px;*/
/*    flex: 1;*/
/*    margin: auto;*/
/*    background-color: floralwhite;*/
/*    color: black;*/
/*    border: #03a9f4 solid 10px;*/
/*}*/


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(to bottom, #270936, #1f0c34, #170d31, #110d2d, #0b0c29, #090c28, #070d26, #050d25, #060f27, #06112a, #06132c, #06152f);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    font-family: "PT Serif";
    margin-left: 25px;
}

.navbar {
    background-color: transparent;
    box-shadow: none;
    background-image: linear-gradient(to bottom, #270936, #1f0c34, #170d31, #110d2d, #0b0c29, #090c28, #070d26, #050d25, #060f27, #06112a, #06132c, #06152f);
    position: relative;
}

.navbar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .1px;
    background-color: darkgray;
}

.navbar-nav .nav-link {
    color: floralwhite;
}

.card-event{
    background-image: linear-gradient(to bottom, #270936, #1f0c34, #170d31, #110d2d, #0b0c29, #090c28, #070d26, #050d25, #060f27, #06112a, #06132c, #06152f);
    color: floralwhite;
    margin-top: 10px;

}

.calendar-card-container {
    display: flex;
    justify-content: space-between;
}



.search{
    color: floralwhite;
    display: flex;
}

.event-head{
    color:white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "PT Serif";
    text-transform: uppercase;
}


#title{
    color:white;
    font-family: "PT Serif";
    text-transform: uppercase;
}


.forms{
    list-style: none;
    display: flex;
    margin-left: 20em;
}
.form-li{
    padding: 1em;
}
.events{
    height: 550px;
    overflow: scroll;
}
.card{
    margin: 2em;
}

#formcontent {
    text-align: center;
    width: 100%;
    overflow-x: auto; /* Add overflow-x property to enable horizontal scrolling */
    max-height: 400px;
    overflow-y: auto;
}

#formcontent table {
    width: 100%; /* Set the table width to 100% */
}

#formcontent th,
#formcontent td {
    padding: 10px;
    white-space: nowrap; /* Prevent table cells from wrapping */
}

@media (max-width: 767px) {
    #formcontent table {
        width: auto; /* Allow the table to resize based on content on smaller screens */
    }
}

h2{
    text-align: center;
    color: white;
}




