html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("/images/grainy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    font-family: "PT Serif";
    margin-left: 25px;
    color: floralwhite;
}

.navbar {
    background-color: transparent;
    box-shadow: none;
    background-image: linear-gradient(to bottom, #270936, #1f0c34, #170d31, #110d2d, #0b0c29, #090c28, #070d26, #050d25, #060f27, #06112a, #06132c, #06152f);
    position: relative;
}

.navbar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .1px;
    background-color: darkgray;
}

.navbar-nav .nav-link{
    color: floralwhite;
}

#home{
    color: floralwhite;
    margin-left: 10px;
}



.event-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: auto;
    color: #f2f2f2;

}

::-webkit-input-placeholder {
    color: rgb(49, 48, 48);
}

.input-field {
    margin-bottom: 10px;
    border: none; /* Add this line */
    border-radius: 0; /* Add this line */
    background-color: rgba(255, 255, 255, 0.3); /* Add this line */
    color: #f2f2f2; /* Add this line */
    padding: 5px; /* Add this line */
}


#description {
    height: 150px;
    resize: vertical;
    width: 500px;
}






#profile{
    margin-left: 1050px;
}


.button{
    background: linear-gradient(90deg, #03a9f4, #270936, #f441a5, mediumpurple, #03a9f4);
    color: floralwhite;
    background-size: 400%;
    margin-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 60px;
    z-index: 1;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;

}


.button:before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    right: -5%;
    bottom: -5%;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #270936, #f441a5, mediumpurple, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    filter: blur(20px);
}

.button {
    position: relative;
}


.button:hover{
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 400%;
    }
}

.middle-heading {
    display: flex;
    text-align: center;
    justify-content: center;
    color: floralwhite;
    font-size: 100px;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-top: 40px;

}

.navbar-brand-text {
    margin-left: 10px;
    font-family: "PT Serif", serif;
    color: white;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;


}


.container{
    height: 450px;
    width: 250px;
    padding: 80px;
    color: white;
    background: transparent;
    justify-content: center;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    margin-top: 100px;
    box-sizing: border-box;
}

form{
    margin-right: 400px;
    margin-left: 400px
}



