.image-box {
    width: 100%;
    height: 200px;
    background-color: #170d31;
    margin-bottom: 20px;
    margin-top: 45px;
    margin-left: 10px;
    padding: 10px;
}

.image-box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 4px solid #f2f2f2;
}

.button-group {
    text-align: center;
    margin-left: 50px;
}



.about-section {
    margin-left: 700px;
    color: white;
    font-family: "PT Serif";
    margin-top: 30px;
    flex: 0 0 100%;
}

@media (max-width: 767px) {
    .vertical-line {
        display: none;
    }
}

#event-input {
    /*margin-left: 1040px;*/
    color: white;
}

#logout-input {
    color: white;
    margin-left: 1050px;
}

html, body {
    background-image: linear-gradient(to bottom, #270936, #1f0c34, #170d31, #110d2d, #0b0c29, #090c28, #070d26, #050d25, #060f27, #06112a, #06132c, #06152f);
    background-repeat: repeat-y, repeat-x;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    font-family: "PT Serif";
    margin-left: 25px;
}

.navbar {
    background-color: transparent;
    box-shadow: none;
    background-image: linear-gradient(to bottom, #270936, #1f0c34, #170d31, #110d2d, #0b0c29, #090c28, #070d26, #050d25, #060f27, #06112a, #06132c, #06152f);
    position: relative;
}

.navbar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .1px;
    background-color: darkgray;
}

.vertical-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 93%;
    background-color: gray;
    margin-top: 56px;
    border-right: 1px solid #ccc;
    margin-left: 15px;
}

.navbar-text {
    margin-left: 30px;
}

.welcome {
    color: floralwhite;
    margin-left: 10px;
}

.profile-info {
    color: floralwhite;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

#editbtn {
    background: linear-gradient(90deg, #03a9f4, #270936, #f441a5, mediumpurple, #03a9f4);
    color: #f2f2f2;
    background-size: 400%;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 60px;
    z-index: 1;
    font-size: 10px;
}

#deletebtn {
    background: linear-gradient(90deg, #03a9f4, #270936, #f441a5, mediumpurple, #03a9f4);
    color: floralwhite;
    background-size: 400%;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 60px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
}

#editbtn:before,
#deletebtn:before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    right: -5%;
    bottom: -5%;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #270936, #f441a5, mediumpurple, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    filter: blur(20px);
}

#editbtn,
#deletebtn {
    display: inline-block;
    position: relative;
}

#editbtn:hover,
#deletebtn:hover {
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 400%;
    }
}

.content-table {
    color: white;
    background-color: #170d31;
}

.content-body {
    background-image: url("https://img.freepik.com/free-photo/wooden-floor-with-blackboard_1249-198.jpg?w=1380&t=st=1688340769~exp=1688341369~hmac=4fa37b16a59a0ba50028fe2bbb10ffc09c3b6239ed2e80d31b42eeba6d3fbf25");
    background-size: cover;
    color: #f2f2f2;
}



.calendar-card-container {
    display: flex;
    justify-content: space-between;
    z-index: auto;
    height: 40%;

}



#eventtitle {
    color: floralwhite;
    background-color: #170d31;
}

.mt-3 {
    color: white;
    background-size: cover;
    color: #f2f2f2;
    overflow-x: hidden;
}

#formcontent {
    text-align: center;
    width: 100%;
    overflow-x: auto; /* Add overflow-x property to enable horizontal scrolling */
}

#formcontent table {
    width: 100%; /* Set the table width to 100% */
}

#formcontent th,
#formcontent td {
    padding: 10px;
    white-space: nowrap; /* Prevent table cells from wrapping */
}

@media (max-width: 767px) {
    #formcontent table {
        width: auto; /* Allow the table to resize based on content on smaller screens */
    }
}

#calendar{
    width: 100%;
    height: 400px;
    flex: 1;
    margin: auto;
    background-color: floralwhite;
    color: black;
    border: #03a9f4 solid 10px;
    margin-top: 45px;
}

.events-table-container {
    max-height: 200px;
    overflow-y: auto;
}

h2{
    text-align: center;
}

.edit-delete-btn-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.edit-delete-btn-container button {
    margin-right: 10px;
}

