html, body {
    background-image: url("https://img.freepik.com/free-vector/gradient-colorful-grainy-dynamic-background_52683-101908.jpg?w=1800&t=st=1688333928~exp=1688334528~hmac=03477f904715ddbeef50845422af831948d8615559f25772a2fbc2c4391feb35");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


#site-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    margin-top: 50px;
    border: 1px;
    margin-bottom: 50px;
    border: 5px solid white;
}



.submit-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-left: 300px;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 80px;
    color: white;
    position: relative;
    margin-right: 100px;
}

.heading {
    margin-top: 50px;
    margin-left: 90px;
    font-family: "Comic Sans MS";
}

.input-group-text{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 25px;
    margin-right: 125px;
    width: 150px;
    height: 150px;
}



.input-group {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;


}

.vertical-line {
    position: absolute;
    top: 0;
    left: 53%;
    width: 1px;
    height: 118%;
    background-color: gray;
}

.formcontent {
    margin-right: 30px;
    border: 2px solid white;
    width: 100%;
    border-radius: 30px;
    margin-left: 70px;
    margin-top: 40px;
}

form{
    margin: 20px 20px;
}

#image-upload{
    height: 10%;
    margin-top: 130px;

}

.error-message {
    background-color:  rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
}
