<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <title>All Events</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/AllEvents.css}">
    <script type="text/javascript" th:src="@{/keys.js}"></script>
    <script type="text/javascript" th:src="@{/js/events_search.js}"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet'/>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.ico}">
    <link rel="manifest" th:href="@{../static/images/site.webmanifest}">
</head>

<body>
<!--SCRIPT TAGS-->
<script type="text/javascript" th:src="@{/js/mapbox_geocoder.js}"></script>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="/">TechConnect</a>
        <button class="navbar-toggler" id="toggle-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">


            <div class="navbar-nav">

                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/profile">Profile</a>
                <a class="nav-link" href="/AboutUs">About</a>
                <a class="nav-link" href="/events/allevent">Events</a>
                <a class="nav-link" href="/discussions">Forum</a>
            </div>


        <div>
            <!-- If the user is logged in, show the "Logout" button -->
            <a th:if="${isLoggedIn}" th:href="@{/logout}" style="color: floralwhite; text-decoration: none">Logout</a>
            <!-- If the user is logged out, show the "Login" button -->
            <a th:unless="${isLoggedIn}" th:href="@{/LoginPage}"
               style="color: floralwhite; text-decoration: none; margin-right: 5px">Login</a>


            <div class="navbar-nav ms-auto">
                <div class="card-text-signup">
                    <a th:if="${isNotLoggedIn}" href="/SignUpPage" style="color: floralwhite; text-decoration: none">SignUp</a>
                </div>
                <div class="card-text-login">
                    <!-- If the user is logged in, show the "Logout" button -->
                    <a th:if="${isLoggedIn}" href="/logout" style="color: floralwhite; text-decoration: none">Logout</a>


                    <!-- If the user is logged out, show the "Login" button -->
                    <a th:unless="${isLoggedIn}" href="/LoginPage" style="color: floralwhite; text-decoration: none">Login</a>
                </div>
            </div>

        </div>



        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="event-head">
            <h1>EVENT SEARCH</h1>
        </div>
    </div>
</div>

<!--<div class="search col-6">-->
<ul class="forms">




    <li class="form-li col-4">
        <form autocomplete="off">
            <label for="location">Location</label>
            <div class="input-group">
                <input type="text" class="form-control" style="justify-content: flex-start" id="location" name="location">
                <button type="submit" id="subBtn" class="btn text-light subbtn" style="margin-left: 10px" value="Submit">Submit</button>
            </div>
        </form>
    </li>
     <!--SEARCH EVENT BY TITLE CONTAINING-->
    <li class="form-li col-4 col-xs-2">

        <form autocomplete="off">
            <label for="keyword">Keyword</label>

            <div class="input-group">
                <input type="text" class="form-control" id="keyword" name="keyword">
                <button type="submit" id="subBtn3" class="btn text-light subbtn" style="margin-left: 10px" value="Submit">Submit</button>
            </div>
        </form>
    </li>

    <!--SEARCH EVENT BY INTEREST-->
    <li class="form-li col-4 col-xs-2 col-sm-12">
        <form autocomplete="off">
            <label for="keyword">Interest</label>
            <div class="input-group">
                <select class="form-select" th:object="${interests}" name="interests" id="interests" aria-label="Default select example">
                    <option th:each="interest : ${interests}" th:value="${interest.id}" th:text="${interest.interest}"></option>
                </select>
                <button type="submit" class="btn text-light subbtn" style="margin-left: 10px" id="subBtn2" value="Submit">Submit</button>
            </div>
        </form>
    </li>
</ul>



<!--</div>-->
<!--</div>-->
<!--    </div>-->
<!--</div>-->


<!--CALENDAR-->

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="events"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div id="map"></div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>