<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Create Event Review</title>-->
<!--</head>-->

<!--<body>-->
<!--<h2>Create Event Review</h2>-->
<!--<form th:action="@{/event/reviews/create}" method="post" th:object="${review}">-->
<!--    <input type="hidden" th:field="*{event}" />-->
<!--    <input type="hidden" th:field="*{user}" />-->

<!--    <label for="title">Title:</label>-->
<!--    <input type="text" id="title" th:field="*{title}" />-->

<!--    <label for="description">Description:</label>-->
<!--    <textarea id="description" th:field="*{description}"></textarea>-->

<!--    <label for="rating">Rating:</label>-->
<!--    <input type="number" id="rating" th:field="*{rating}" min="1" max="5" />-->

<!--    <button type="submit">Save Review</button>-->
<!--</form>-->
<!--</body>-->

<!--</html>-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Event Review</title>
</head>

<body>
<h2>Create Event Review</h2>


<label>
    <select th:field="*{events}">
        <option value="">-- Select an Interest --</option>
        <option th:each="event : ${events}" th:value="${event.interest.id}"
                th:text="${event.interest.interest}"></option>
    </select>
</label>


<label for="host">Host:</label>
<select id="host" name="hostId" th:field="*{events}">
    <option value="">-- Select a host --</option>
    <option th:each="event : ${events}" th:value="${event.host.id}" th:text="${event.host.firstName}"></option>
</select>


<form th:action="@{/event/reviews/create}" method="post" th:object="${review}">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:field="*{title}"/>

    <label for="description">Description:</label>
    <textarea id="description" name="description" th:field="*{description}"></textarea>

    <fieldset>
        <legend>Rating:</legend>
        <div class="rating">
            <input type="radio" id="star5" name="rating" value="5" th:checked="${review.rating == 5}"/>
            <label for="star5"></label>
            <input type="radio" id="star4" name="rating" value="4" th:checked="${review.rating == 4}"/>
            <label for="star4"></label>
            <input type="radio" id="star3" name="rating" value="3" th:checked="${review.rating == 3}"/>
            <label for="star3"></label>
            <input type="radio" id="star2" name="rating" value="2" th:checked="${review.rating == 2}"/>
            <label for="star2"></label>
            <input type="radio" id="star1" name="rating" value="1" th:checked="${review.rating == 1}"/>
            <label for="star1"></label>
        </div>
    </fieldset>

    <button type="submit">Save Review</button>
</form>


</body>

</html>


