<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" href="/css/SignUpstyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.filestackcontent.com/HANDLE">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT PROFILE</title>
</head>
<body>
<div class="container">
    <img id="site-photo" src="../static/images/site-photo.jpg" alt="Site Photo">
    <div class="vertical-line"></div>
    <div class="row">
        <div class="col-lg-6 offset-lg-6">



            <form th:action="@{/editProfile}" th:object="${user}" th:method="POST" enctype="multipart/form-data">
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="first-name" class="form-label">First Name:</label>
                        <input type="text" id="first-name" name="first-name" class="form-control" th:field="*{firstName}" required>
                    </div>
                    <div class="col-6">
                        <label for="last-name" class="form-label">Last Name:</label>
                        <input type="text" id="last-name" name="last-name" class="form-control" th:field="*{lastName}" required>
                    </div>
                    <div class="col-6">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" id="email" name="email" class="form-control" th:field="*{email}" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" id="username" name="username" class="form-control" th:field="*{username}" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" th:field="*{password}" required>
                    </div>
                    <div class="col-6">
                        <label for="confirm-password" class="form-label">Confirm Password:</label>
                        <input type="password" id="confirm-password" name="confirm-password" class="form-control" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12">
            <span class="input-group-text">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image-fill" viewBox="0 0 16 16">
                <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"/>
              </svg>
            </span>
                        <div class="input-group">
                            <button id="image-upload" name="image-upload">Upload Picture</button>

                            <!--              <input id="upload-button" type="submit" class="btn btn-light" value="upload">Upload Image-->

                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12">
                        <div class="col-3 submit-btn-container">
                            <input type="submit" value="Submit" class="btn btn-light">
                        </div>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--<script th:inline="javascript">-->
<!--  $(document).ready(function() {-->
<!--    $('#upload-button').click(function() {-->
<!--      $('#image-upload').click();-->
<!--    });-->
<!--  });-->
<!--</script>-->
<script src="https://static.filestackapi.com/filestack-js/3.0.0/filestack.min.js"></script>
<script th:src="@{/js/UploadFile.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3Rmw"></script>
</body>
</html>
