<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Event Reviews</title>
</head>
<body>


<h2>Event Reviews</h2>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${event.title}"></td>
        <td th:text="${event.dateTime}"></td>
        <td th:text="${event.description}"></td>
        <td th:text="${event.location}"></td>
    </tr>

    <!--        All Reviews need to be pushed in the bottom of the form -->
    <tr th:each="review : ${reviews}">
        <td th:text="${review.title}"></td>
        <td th:text="${review.description}"></td>
        <td th:text="${review.rating}"></td>
    </tr>
    </tbody>
</table>


<!--    Review form only seen when a user is LoggedIn-->


<div sec:authorize="isAuthenticated()">

    <h2>Create Event Review</h2>

    <form th:action="@{/event/{eventId}/reviews/create(eventId=${event.eventId})}" method="post"
          th:object="${review}">

        <!--        Intakes the user id as a hidden input-->

<!--        <input type="hidden" th:value="${loggedUserid}" th:field="*{user}"/>-->

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" th:field="*{title}"/>

        <label for="description">Description:</label>
        <textarea id="description" name="description" th:field="*{description}"></textarea>

        <fieldset>
            <legend>Rating:</legend>
            <div class="rating">
                <input type="radio" id="star5" name="*{rating}" value="5" th:checked="${review.rating == 5}"/>
                <label for="star5"></label>
                <input type="radio" id="star4" name="*{rating}" value="4" th:checked="${review.rating == 4}"/>
                <label for="star4"></label>
                <input type="radio" id="star3" name="*{rating}" value="3" th:checked="${review.rating == 3}"/>
                <label for="star3"></label>
                <input type="radio" id="star2" name="*{rating}" value="2" th:checked="${review.rating == 2}"/>
                <label for="star2"></label>
                <input type="radio" id="star1" name="*{rating}" value="1" th:checked="${review.rating == 1}"/>
                <label for="star1"></label>
            </div>
        </fieldset>


        <button type="submit">Save Review</button>


    </form>
</div>
<div sec:authorize="isAnonymous()">
    <p>Please log in to submit a review.</p>
</div>
</body>
</html>
