<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Event Reviews</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/EventReviewStyle.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.ico}">
    <link rel="manifest" th:href="@{../static/images/site.webmanifest}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-light" id="title" href="/">TechConnect</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" disabled>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/events/allevent">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/discussions">Forum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
        </ul>
    </div>
    <div>
        <div>
            <!-- If the user is logged in, show the "Logout" button -->
            <a th:if="${isLoggedIn}" th:href="@{/logout}" style="color: floralwhite; text-decoration: none">Logout</a>

            <!-- If the user is logged out, show the "Login" button -->
            <a th:unless="${isLoggedIn}" th:href="@{/LoginPage}" style="color: floralwhite; text-decoration: none">Login</a>

            <a th:href="@{/SignUpPage}" style="color: floralwhite; text-decoration: none">Sign Up</a>
        </div>
    </div>
</nav>

<div class="reviewhead">
    <h2 th:if="${#authentication.principal.id != event.host.id}">Event Details & Review</h2>
</div>
<!--Events Details -->
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Date/Time</th>
        <th>Description</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${event.title}"></td>
        <td th:text="${event.dateTime}"></td>
        <td th:text="${event.description}"></td>
        <td th:text="${event.location}"></td>

        <td sec:authorize="isAuthenticated()">
            <!-- Update the form in your HTML code -->
            <form  th:if="${event.host != user && !isRegistered && #authentication.principal.id != event.host.id}" id="eventForm${event.eventId}"
                  th:action="@{/attendee/{eventId}/register(eventId=${event.eventId})}" method="post">
                <input type="hidden" name="eventId" th:value="${event.eventId}">
                <input type="hidden" name="eventTitle" th:value="${event.title}">
                <button type="submit" class="btn btn-light">Register</button>
            </form>
        </td>

        <!-- Unregister form -->
        <td>

            <form th:if="${event.host != user && isRegistered}" th:action="@{/attendee/{eventId}/unregister(eventId=${event.eventId})}" method="post"
                  onsubmit="return confirm('Are you sure you want to unregister for this event?');">
                <button type="submit">Unregister</button>


            </form>

            <!--                        <p th:text="${message}"></p>-->

        </td>

    </tr>
    </tbody>
</table>


<!--Event Review form -->

<div sec:authorize="isAuthenticated()">
    <div class="container">
        <div class="row">


            <div th:if="${not #strings.isEmpty(message)}" class="error-message">
                <p th:text="${message}"></p>
            </div>


            <div class="col-6">
                <form th:if="${#authentication.principal.id != event.host.id}"
                      th:action="@{/event/{eventId}/reviews/create(eventId=${event.eventId})}" method="post"
                      th:object="${review}">
                    <div class="review">
                        <fieldset>
                            <legend>Review:</legend>
                            <div>
                                <label for="reviewTitle">Title:</label>
                                <input type="text" id="reviewTitle" name="title" th:field="*{title}" required>
                            </div>
                            <div>
                                <label for="reviewDescription">Description:</label>
                                <textarea id="reviewDescription" name="description" th:field="*{description}"
                                          required></textarea>
                            </div>
                        </fieldset>
                    </div>
                    <!--            </div>-->

                    <div class="col-6">
                        <div class="rating">
                            <fieldset>
                                <legend>Rating:</legend>
                                <input type="radio" id="star5" name="*{rating}" th:field="*{rating}" value="5"
                                       th:checked="${review.rating == 5}"/>
                                <label for="star5"></label>
                                <input type="radio" id="star4" name="*{rating}" th:field="*{rating}" value="4"
                                       th:checked="${review.rating == 4}"/>
                                <label for="star4"></label>
                                <input type="radio" id="star3" name="*{rating}" th:field="*{rating}" value="3"
                                       th:checked="${review.rating == 3}"/>
                                <label for="star3"></label>
                                <input type="radio" id="star2" name="*{rating}" th:field="*{rating}" value="2"
                                       th:checked="${review.rating == 2}"/>
                                <label for="star2"></label>
                                <input type="radio" id="star1" name="*{rating}" th:field="*{rating}" value="1"
                                       th:checked="${review.rating == 1}"/>
                                <label for="star1"></label>
                            </fieldset>
                        </div>
                    </div>


                    <div class="row save col-3">

                        <button type="submit" id="save">Save Review</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--Event Reviews from other attendees -->


<h2>Event Reviews</h2>
<h2>Average Rating: <span id="averageRating" th:text="${averageRating}"></span></h2>
<table>
    <thead>
    <tr>
        <th>Review Title</th>
        <th>Review Description</th>
        <th>Review Rating</th>
    </tr>

    </thead>
    <tbody>

    <tr th:each="review : ${reviews}">
        <!-- Existing review display -->
        <td class="review-title-display" th:text="${review.title}"></td>
        <td class="review-description-display" th:text="${review.description}"></td>
        <td th:text="${review.rating}"></td>
        <td>
            <div sec:authorize="isAuthenticated()">
                <button class="edit-review-button" th:if="${#authentication.principal.id == review.user.id}">Edit
                </button>
                <form th:action="@{/event/{eventId}/reviews/{reviewId}/delete(eventId=${event.eventId}, reviewId=${review.id})}"
                      method="post"
                      onsubmit="return confirm('Are you sure you want to delete this review?');">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" th:if="${#authentication.principal.id == review.user.id}">Delete</button>
                </form>
            </div>

            <!-- Edit review form -->
            <form class="edit-review-form"
                  th:action="@{/event/{eventId}/reviews/{reviewId}/edit(eventId=${event.eventId}, reviewId=${review.id})}"
                  method="post"
                  style="display: none;">
                <label for="title">Title:</label>
                <input type="text" id="title2" name="title" class="edit-review-title" value=""/>
                <label for="description">Description:</label>
                <textarea id="description" name="description" class="edit-review-description"></textarea>
                <button type="submit">Update Review</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


<script>
    $(document).ready(function () {
        $('.edit-review-button').click(function () {
            var row = $(this).closest('tr');
            var title = row.find('.review-title-display').text();
            var description = row.find('.review-description-display').text();

            var formDiv = row.find('.edit-review-form');
            formDiv.find('.edit-review-title').val(title);
            formDiv.find('.edit-review-description').val(description);

            formDiv.show();
            row.find('.edit-review-button').hide();
        });
    });
</script>

<div sec:authorize="isAnonymous()">
    <p>Please log in to submit a review.</p>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>
</html>




