<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/keys.js}"></script>
</head>
<body>
<h1>TechConnect</h1>

<form th:action="@{/LoginPage}" method="get">
    <button type="submit">Login</button>
</form>

<form th:action="@{/SignUpPage}" method="get">
    <button type="submit">Register</button>
</form>
<script>
    console.log(GITHUBTOK)
    console.log(MAPBOXAP_TOK)
</script>
</body>
</html>