<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/LPstyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script type="text/javascript" src="/keys.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <title>Home Page</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-light" id="title" href="/templates/index.html">TechConnect</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" disabled>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item">

                <a class="nav-link" href="/AboutUs">About</a>
                <a class="nav-link" href="/profile">Profile</a>

            </li>

            <li class="nav-item">
                <a class="nav-link" href="/events/allevent">Events</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/discussions">Forum</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>


        </ul>
    </div>
    <div class="card-text-login">
        <!-- If the user is logged in, show the "Logout" button -->
        <a th:if="${isLoggedIn}" href="/logout" style="color: floralwhite; text-decoration: none">Logout</a>

        <!-- If the user is logged out, show the "Login" button -->
        <a th:unless="${isLoggedIn}" href="/LoginPage" style="color: floralwhite; text-decoration: none">Login</a>
    </div>

    <div class="card-text-signup">
        <a href="/SignUpPage" style="color: floralwhite; text-decoration: none">SignUp</a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="head1">Join Today and Start Networking In An Area Near You!</h1>
            <ul>
                <li>Register for Local Events</li>
                <li>Interact with the Technology Community via meetups and forums!</li>
            </ul>
            <a href="/SignUpPage">
                <div class="signup col-2">
                    <button class="btn" style="color: white">Sign Up!</button>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <div class="photo">
                <img id="site-photo" src="/images/metaverse.png" alt="Site Photo">
            </div>
        </div>
    </div>

    <div class="row" id="events">
        <h4 class="btmheader">UPCOMING EVENTS</h4>
        <div class="col-lg-12 card-container">
            <div class="card-row">
                <!-- Add your card content here -->
            </div>
        </div>
    </div>
</div>

<script>
    console.log(GITHUBTOK);
    console.log(MAPBOXAP_TOK);
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
</body>

</html>

