<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <link rel="stylesheet" type="text/css" th:href="@{/css/LoginStyle.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


    <!--Incorrect Syntax-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.ico}">
    <link rel="manifest" th:href="@{../static/images/site.webmanifest}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>

<div class="mobile">


<!--    <nav class="banner">-->
<!--        <div class="container-fluid">-->
<!--            <a class="navbar-brand text-light" href="#">-->
                <img src="" th:src="@{/images/LoginBanner.jpg}" alt="Navbar Banner">
<!--            </a>-->
<!--        </div>-->
<!--    </nav>-->

    <div class="title">
        <h1>Connect With Us Today!</h1>
    </div>
    <div class="login-form">
        <div class="header">
            Log In
        </div>

        <div class="form-group">
            <form th:action="@{/LoginPage}" th:method="POST">

                <label for="login">Username:</label>
                <input type="text" id="login" name="username" placeholder="Username" class="form-control">
                <i class="bi bi-person-fill"></i><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password" class="form-control"><i
                    class="bi bi-key-fill"></i><br>
                <button class="btn text-light ">Login</button>

                <p id="haveAccount">No Account?<a th:href="@{/SignUpPage}">Register Now!</a>
                    <a th:href="@{/SignUpPage}">Forgot Password?</a></p>
            </form>
        </div>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3Rmw"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>
